POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=ny_taxi
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=us-central1
GCS_BUCKET=your-gcp-project-id-taxi-bucket
BQ_DATASET=ny_taxi

GOOGLE_APPLICATION_CREDENTIALS=./credentials/gcp-sa-key.json