.env
*.csv
*.parquet
*.gz
__pycache__/
*.pyc
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.duckdb
credentials/
data/raw/
01-docker-terraform/terraform/terraform.tfvars

# dbt generated
target/
dbt_packages/
logs/
package-lock.yml
profiles.yml
*.duckdb

# Spark output data
05-batch/data/*.parquet
05-batch/data/yellow_oct2024_4partitions/

# FEWS NET project
project/terraform/terraform.tfvars
project/terraform/.terraform/
project/terraform/*.tfstate
project/terraform/*.tfstate.backup
project/terraform/.terraform.lock.hcl
project/dbt/fewsnet/target/
project/dbt/fewsnet/dbt_packages/
project/fewsnet_project.tar.gz
