.env
*.csv
*.parquet
*.gz
__pycache__/
*.pyc
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.duckdb
credentials/
data/raw/
01-docker-terraform/terraform/terraform.tfvars

# dbt generated
target/
dbt_packages/
logs/
package-lock.yml
profiles.yml
*.duckdb

# Spark output data
05-batch/data/*.parquet
05-batch/data/yellow_oct2024_4partitions/
